[submodule "src/backend"]
	path = src/backend
	url = https://github.com/ah2909/FM-backend.git
[submodule "src/auth-service"]
	path = src/auth-service
	url = https://github.com/ah2909/auth-service.git
[submodule "src/websocket"]
	path = src/websocket
	url = https://github.com/ah2909/websocket.git
[submodule "src/portfolio-analyzer"]
	path = src/portfolio-analyzer
	url = https://github.com/ah2909/FM-analyze.git
